
<h2>{{30| currency}}</h2>
{{test | custom}}


<h2 *ngIf="err; then iferror else noerror"  >show ME</h2>

<ng-template #iferror>
  <p>{{err}}</p>
</ng-template >

<ng-template #noerror>
  <p>user works!</p>
  <table>
    <tr>
      <th>Id</th>
      <th>name</th>
      <th>UserName</th>
      <th>email</th>
    </tr>
    <tr (click)="onselect(item)" *ngFor="let item of users">
      <td >{{item.id | custom}}</td>
      <td >{{item.name}}</td>
      <td >{{item.username}}</td>
      <td >{{item.email}}</td>

    </tr>
  </table>
</ng-template>

